<div class="row">
    <div class="col-4">
        <div class="card bg-orange">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <h1 class="m-b-0">
                            <i class="ti-user text-white"></i>
                        </h1>
                    </div>
                    <div>
                        <h6 class="font-12 text-white m-b-5 op-7">USER ACCOUNTS</h6>
                        <h6 class="text-white font-medium m-b-0">COUNT: 6</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-cyan">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <h1 class="m-b-0">
                            <i class="ti-world text-white"></i>
                        </h1>
                    </div>
                    <div>
                        <h6 class="font-12 text-white m-b-5 op-7">TENANTS</h6>
                        <h6 class="text-white font-medium m-b-0">COUNT: 4</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-purple">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <h1 class="m-b-0">
                            <i class="ti-settings text-white"></i>
                        </h1>
                    </div>
                    <div>
                        <h6 class="font-12 text-white m-b-5 op-7">WIDGETS</h6>
                        <h6 class="text-white font-medium m-b-0">COUNT: 3</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>